:root {
  --pr-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(41, 163, 211);
  min-height: 2000px;
}

.navbar {
  background-color: rgb(41, 163, 211);
}

/* navbar color */

.nav-color {
  background-color: rgb(41, 163, 211);
}

.navbar-brand {
  font-weight: 900;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
}

.nav-link {
  font-size: 16px;
}

.nav-link.active {
  font-weight: 700;
}

.button-secondary {
  width: 133px;
  height: 40px;
  background-color: #ff6f60;
  color: var(--pr-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

.button-primary {
  width: 133px;
  height: 40px;
  background-color: #6abf69;
  color: var(--pr-color);
  border: none;
  font-size: 16px;
  font-weight: 700;
}

/* style slider*/
.carousel-item {
  height: 600px;
}

.carousel-item img {
  margin-top: -200px;
}

.carousel-item .display-4 {
  margin-top: 700px;
  color: rgb(5, 0, 0);
}

.carousel-item hr {
  border-color: #6abf69;
  width: 70px;
  border-width: 3px;
}

.carousel-item .btn {
  background-color: #6abf69;
  border: none;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 40px;
}

#about {
  padding: 100px 0;
  font-family: "Covered By Your Grace", cursive;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  color: black;
}

.sub-title {
  font-size: 18px;
  color: black;
}
